<?xml version="1.0"?>
<config>
    <modules>
        <Elgentos_Customfields>
            <version>0.1.0</version>
        </Elgentos_Customfields>
    </modules>
    <frontend>
        <events>
            <cms_page_render>
                <observers>
                    <customfields>
                        <type>singleton</type>
                        <class>Elgentos_Customfields_Model_Header</class>
                        <method>add</method>
                    </customfields>
                </observers>
            </cms_page_render>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Elgentos_Customfields>
                    <files>
                        <default>Elgentos_Customfields.csv</default>
                    </files>
                </Elgentos_Customfields>
            </modules>
        </translate>
        <layout>
            <updates>
                <customfields>
                    <file>customfields.xml</file>
                </customfields>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <customfields>
                <class>Elgentos_Customfields_Model</class>
            </customfields>
        </models>
        <resources>
            <customfields_setup>
                <setup>
                    <module>Elgentos_Customfields</module>
                    <class>Elgentos_Customfields_Model_Mysql4_Setup</class>
                </setup>
            </customfields_setup>
        </resources>
        <blocks>
            <customfields>
                <class>Elgentos_Customfields_Block</class>
            </customfields>
        </blocks>
        <helpers>
            <customfields>
                <class>Elgentos_Customfields_Helper</class>
            </customfields>
        </helpers>
    </global>
    <default>
        <customfields>
            <general>
               <disabled>0</disabled>
            </general>
            <customfields>
                <university>1</university>
                <department>1</department>
                <function>1</function>
            </customfields>
        </customfields>
    </default>
</config>
